
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&display=swap');

*{
	font-family: 'Inter Tight', sans-serif;
}
html {
   min-height: 100%;
   height: 100%;
   background-image: url("https://images.unsplash.com/photo-1532019333101-b0f43c16a912?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   animation: enLight 1.25s cubic-bezier(0.79, 0.33, 0.09, 0.74) forwards;
   will-change: opacity;
   user-select: none;
}
@keyframes jumpDock {
	0% {transform:translateY(40px); opacity:0}
	100% {transform:translateY(100px); opacity:1}
}
@keyframes enLight {
	0% {opacity:0}
	100% {opacity:1}
}
@keyframes revealSearch {
	0% {transform:scale(0.8); transform:translateY(50px); opacity:0; }
	100% {transform:scale(1); transform:translateY(0px); opacity:1;}
}
.body {
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
.main {
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.3) 100% );
	display: grid;
	grid-template-rows: 1.5fr 110px 110px 1fr 1fr;
	align-items: center;
  justify-content: center;
}




.brandBar {
	grid-row: 2;
	display: flex;
	justify-content: center;
}
.brandBar .brandLogo {
	opacity: 0;
	width: 400px;
	margin: 0rem 0rem 5.5rem 0rem;
	padding: 2rem 0;
	animation: revealSearch 0.4s cubic-bezier(0.79, 0.33, 0.09, 0.74) forwards 0.35s;
}





.searchBar {
	grid-row: 3;
	opacity: 0;
	animation: revealSearch 0.4s cubic-bezier(0.79, 0.33, 0.09, 0.74) forwards 0.35s;
}
.searchBar .searchInput {
	border: 2px solid rgba(255, 255, 255, 0.6);
	font-size: 1.08rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 0.9rem 1.6rem 0.9rem 3rem;
	outline: 0px;
	border-radius: 50px;
	transition:all 0.3s ease-in-out;
	width: 560px;
	letter-spacing: 0.02rem;
}
.searchBar .searchInput::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.searchBar .searchInput:hover {
	/*background-color: rgba(0, 0, 0, 0.25);*/
}
.searchBar .searchInput:focus {
	/*background-color: rgba(0, 0, 0, 0.3);*/
}
.searchInput:focus + .icon-tabler-search {
	opacity: 0.9;
}
.icon-tabler-search{
	position: absolute;
	padding:0.8rem  1rem;
	margin:auto;
	opacity: 0.65;
	height: 50%;
	top:0;
	left: 0;
	bottom:0;
	transition: opacity ease-in-out 0.15s;
}



.appDock {
	width:100%;
	position: absolute;
	display: flex;
	justify-content: center;
	opacity:0;
	animation: jumpDock 0.3s cubic-bezier(0.79, 0.33, 0.09, 0.74) forwards 0.9s;
	will-change: transform opacity;
}
.appDock .appButton {
	display:flex;
	position: relative;
	border-radius: 4rem;
	border: 2px solid rgba(255, 255, 255, 0.25);
	margin: 0rem 1.6rem;
	will-change: transform;
	transition:all 250ms cubic-bezier(0.79, 0.33, 0.09, 0.74);
}
.appButton a {
	border: 0px;
	padding: 0px;
}
.appDock .appIcon {
	width: 80px;
	margin: 0px;
	display: block;
}
.appDock .appButton:hover {
	transform:translateY(-8px);
	border: 2px solid rgba(255, 255, 255, 0.6);
		/*animation: jumpapp 0.7s 1;*/
}
.appDock .appName {
	color:white;
	font-size:0.82rem;
	font-weight: 500;
	position:absolute;
	bottom: -30px;
	letter-spacing:0.04rem;
	text-align: center;
	width: 100%;
}